workDir = "/mnt/immunocompnas1/projects/cups_snRNA/processing/work"

cleanup = false

// --- Global Parameters ---
params {
    samplesheet = "/home/adrianparrilla@vhio.org/nextflow/SherlockCell/samplesheet.tsv"

    sample_key    = "sample"   
    cell_type_key = "cell_type"
    sample_type_key = "sample_type"

    swiftCNV {
        gene_annots  = "/mnt/immunocompnas1/resources/annotation/gencode.v44.annotation.gtf.gz"
        HMM = false
        plot_cnv = true
        sex_chr = true
        cutoff = 0.1
    }
}

includeConfig 'conf/process.config'

// --- Execution Profiles ---
profiles {
    // Container engine configuration
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    // Local execution
    local {
        process.executor = 'local'
        
        executor {
            cpus   = 8          
            memory = '10 GB'    
        }
    }

    // SLURM Cluster execution
    slurm {
        process.executor = 'slurm'
        
        process {
            withLabel: 'count_cells' {
                queue          = 'franmartinez'
                memory         = { 10.GB * task.attempt }
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_count_cells'
            }

            withLabel: 'scf' {
                queue          = 'franmartinez'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_SCF'
            }

            withLabel: 'swiftCNV_annots' {
                queue          = 'franmartinez'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_annots'
            }

            withLabel: 'swiftCNV' {
                queue          = 'franmartinez'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_swiftCNV'
            }

            withLabel: 'malignant_classif' {
                queue          = 'franmartinez'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_malig_classif'
            }
        }
    }
}