workDir = "/mnt/immunocompnas1/projects/cups_snRNA/processing/work"

cleanup = true

// --- Global Parameters ---
params {
    samplesheet = "/home/adrianparrilla@vhio.org/nextflow/malignant_reannot/samplesheet.csv"

    sample_key    = "sample"   
    cell_type_key = "cell_type"
    annot_mode = 're-annotation' // something from 're-annotation' or 'annotation'
    outdir = null

    swiftCNV {
        gene_annots   = "/mnt/immunocompnas1/resources/annotation/gencode.v38.annotation.gtf.gz"
        HMM  = false
        plot_cnv   = false
        counts_in_layers = true
    }
}

// --- Core Process Resources ---
// (Shared across both local and cluster environments)
process {
    errorStrategy  = { task.exitStatus in [104, 134, 137, 139, 140, 143] ? 'retry' : 'terminate' } 
    maxRetries     = 2

    afterScript = {
        // Clean up the task name for the folder structure
        def cleanTaskName = task.name.replaceAll("\\s+", "_").replaceAll("[()]", "")

        """
        # 1. Check if the module left behind our special directory file
        if [ -f .task_outdir ]; then
            
            # 2. Read the dynamic path from the file
            DYNAMIC_OUTDIR=\$(cat .task_outdir)
            
            # 3. Define the exact log directory using the dynamic path
            LOG_DIR="\$DYNAMIC_OUTDIR/pipeline_info/${cleanTaskName}"

            # 4. Create the folder and copy the log file
            mkdir -p "\$LOG_DIR"
            if [ -f .command.log ]; then
                cp .command.log "\$LOG_DIR/command.log"
            fi
            
        fi
        """
    }

    withLabel: 'infercnv_annots' {
        container      = "/mnt/immunocompnas1/resources/singularity/custom/reannot.sif"
        maxForks       = 3
        cpus           = 2
        time           = '2h'
    }

    withLabel: 'infercnv' {
        container      = "/mnt/immunocompnas1/resources/singularity/custom/scanpy.sif"
        maxForks       = 3
        cpus           = 6
    }

    withLabel: 'malignant_classif' {
        container      = "/mnt/immunocompnas1/resources/singularity/custom/reannot.sif"
        maxRetries     = 4
        maxForks       = 4
        cpus           = 6
        time           = '4h'
    }
}

env {
    NUMBA_CACHE_DIR = '/tmp'
    MPLCONFIGDIR    = './.matplotlib_cache'
}

// --- Execution Profiles ---
profiles {
    // Container engine configuration
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    // Local execution
    local {
        process.executor = 'local'
        
        executor {
            cpus   = 8          
            memory = '10 GB'    
        }
    }

    // PROFILE 2: SLURM Cluster execution
    slurm {
        process.executor = 'slurm'
        
        process {
            withLabel: 'infercnv_annots' {
                queue          = 'franmartinez'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_annots'
            }

            withLabel: 'infercnv' {
                queue          = 'franmartinez'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_inferCNV'
            }

            withLabel: 'malignant_classif' {
                queue          = 'franmartinez'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_malig_classif'
            }
        }
    }
}