cleanup = false

// --- Global Parameters ---
params {
    samplesheet = "${projectDir}/samplesheet.tsv"

    // default paremeters
    sample_key    = "sample"   
    cell_type_key = "cell_type"
    sample_type_key = "sample_type"
    embedding_key = "X_umap"

    // SwiftCNV paremeters
    swiftCNV {
        gene_annots  = "/path/to/gencode.v44.annotation.gtf.gz"
        counts_in_X = false
        HMM = false
        plot_cnv = false
        sex_chr = false
        cutoff = 0.1
    }
}

includeConfig 'conf/process.config'

// --- Execution Profiles ---
profiles {
    // Container engine configuration
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "${projectDir}/singularity_cache"
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    // Local execution
    local {
        process.executor = 'local'
        
        executor {
            cpus   = 8          
            memory = '10 GB'    
        }
    }

    // SLURM Cluster execution SET QUEUE
    slurm {
        process.executor = 'slurm'
        
        process {
            withLabel: 'count_cells' {
                queue          = 'queue'
                memory         = { 10.GB * task.attempt }
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_count_cells'
            }

            withLabel: 'scf' {
                queue          = 'queue'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_SCF'
            }

            withLabel: 'swiftCNV_annots' {
                queue          = 'queue'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_annots'
            }

            withLabel: 'swiftCNV' {
                queue          = 'queue'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_swiftCNV'
            }

            withLabel: 'malignant_classif' {
                queue          = 'queue'
                clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_malig_classif'
            }
        }
    }

    // test profile
    test {
        params.samplesheet = "${projectDir}/test_samplesheet.tsv"
        process.executor = 'local'

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/singularity_cache"

        executor {
            cpus   = 8
            memory = '20 GB'
        }
    }
}