// --- Core Process Resources ---
// (Shared across both local and cluster environments)
process {
    errorStrategy  = { task.exitStatus in [104, 134, 137, 139, 140, 143] ? 'retry' : 'terminate' } 
    maxRetries     = 2

    afterScript = {
        // Clean up the task name for the folder structure
        def cleanTaskName = task.name.replaceAll("\\s+", "_").replaceAll("[()]", "")

        """
        # 1. Check if the module left behind our special directory file
        if [ -f .task_outdir ]; then
            
            # 2. Read the dynamic path from the file
            DYNAMIC_OUTDIR=\$(cat .task_outdir)
            
            # 3. Define the exact log directory using the dynamic path
            LOG_DIR="\$DYNAMIC_OUTDIR/pipeline_info/${cleanTaskName}"

            # 4. Create the folder and copy the log file
            mkdir -p "\$LOG_DIR"
            if [ -f .command.log ]; then
                cp .command.log "\$LOG_DIR/command.log"
            fi
            
        fi
        """
    }


    withLabel: 'count_cells' {
        container      = "/mnt/immunocompnas1/resources/singularity/custom/swiftcnv.sif"
        maxForks       = 2
        cpus           = 2
        time           = '1h'
    }


    withLabel: 'scf' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scf.sif"
        maxForks       = 3
        cpus           = 6
        time           = '6h'

    }

    withLabel: 'swiftCNV_annots' {
        container      = "/mnt/immunocompnas1/resources/singularity/custom/swiftcnv.sif"
        maxForks       = 3
        cpus           = 6
        time           = '2h'
    }

    withLabel: 'swiftCNV' {
        container      = "/mnt/immunocompnas1/resources/singularity/custom/swiftcnv.sif"
        maxForks       = 3
        cpus           = 8
    }

    withLabel: 'malignant_classif' {
        container      = "/mnt/immunocompnas1/resources/singularity/custom/swiftcnv.sif"
        maxRetries     = 4
        maxForks       = 4
        cpus           = 8
        time           = '4h'
    }
}

env {
    NUMBA_CACHE_DIR = '/tmp'
    MPLCONFIGDIR    = './.matplotlib_cache'
}
